.layout {
  font-size: var(--font--text);
  font-family: var(--font-family--main);
  min-height: 100vh;
  min-width: 100vw;

  &__container {
    width: 100%;
    height: 100%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: -0.075rem;
  }
}