:root {
  --font--text: 1.6rem;
  --font-family--main: 'Lato', sans-serif;

  --color--body: #1C1C1D;
  --color--text: white;
  --color--grey: rgb(182, 182, 182);
  --color--grey--dark: #2d2d2d;
  --color--second: #696BFF;
  --color--third: #8082ff;
  --color--fourth: #a0a1ff;

  --color--button: #181819;

  --container--max-width: 120rem;
  --container--max-width--small: 90rem;

  --radius--main: 0.3rem;

  --box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4);

  --base-padding: 10px 20px;

  --gradient--main : linear-gradient(131deg, rgb(82, 84, 255) 0%, rgba(135,137,255,1) 100%);

  --gradient--shapes: radial-gradient(rgba(82, 85, 255, 0.2), rgba(82, 85, 255, 0) 50%);
}