:root {
  --font--text: 1.6rem;
  --font-family--main: 'Lato', sans-serif;

  --color--body: #1C1C1D;
  --color--text: white;
  --color--second: #696BFF;
  --color--button: #181819;

  --radius--main: 0.3rem;
}