{
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "importOrder": [
    "^controllers/(.*)$",
    "^routes/(.*)$",
    "^services/(.*)$",
    "^types/(.*)$",
    "^utils/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
