.btn {
  border: none;
  font-size: 1.2rem;
  padding: 1rem 3rem;
  font-weight: 500;
  cursor: pointer;
  min-width: 10rem;
  border-radius: var(--radius--main);
  width: fit-content;
  text-transform: uppercase;
  font-weight: 600;

  &--primary {
    color: white;
    background: var(--gradient--main);

    &.disabled {
      background-color: var(--color--main);
      border: 2px solid var(--color--second);
      color: var(--color--second);
    }
  }

  &--secondary {
    background-color: white;
    color: var(--color--second);

    &.disabled {
      opacity: 0.2;
    }
  }

  &.disabled {
    cursor: not-allowed;
  }
}

button,
input[type="submit"] {
  @extend .btn;
}