.btn {
  border: none;
  font-size: 1.2rem;
  padding: 1rem 3rem;
  font-weight: 500;
  cursor: pointer;
  min-width: 10rem;
  border-radius: var(--radius--main);
  width: fit-content;
  text-transform: uppercase;
  font-weight: 600;

  &--primary {
    color: white;
    background: var(--gradient--main);
  }

  &--secondary {
    background-color: white;
    color: var(--color--second);
  }

  &.disabled {
    cursor: default;
    opacity: 0.2;
  }

  &.waiting {
    cursor: default;
    opacity: 0.2;
    &::after {
      content: "";
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background-color: #fff;
      box-shadow: 32px 0 #fff, -32px 0 #fff;
      position: relative;
      animation: flash 0.5s ease-out infinite alternate;
    }
  }
}

button,
input[type="submit"] {
  @extend .btn;
}

@keyframes flash {
  0% {
    background-color: #FFF2;
    box-shadow: 32px 0 #FFF2, -32px 0 #FFF;
  }
  50% {
    background-color: #FFF;
    box-shadow: 32px 0 #FFF2, -32px 0 #FFF2;
  }
  100% {
    background-color: #FFF2;
    box-shadow: 32px 0 #FFF, -32px 0 #FFF2;
  }
}