.btn {
  border: none;
  font-size: 1.2rem;
  padding: 1rem 3rem;
  font-weight: 500;
  cursor: pointer;
  min-width: 10rem;
  border-radius: var(--radius--main);
  width: fit-content;
  text-transform: uppercase;
  font-weight: 600;

  &--primary {
    color: white;
    background: var(--gradient--main);
  }

  &--secondary {
    background-color: white;
    color: var(--color--second);
  }

  &.disabled {
    cursor: default;
    opacity: 0.2;
  }

  &.waiting {
    cursor: default;
    position: relative;
    padding-right: calc(3rem + 15px);
    &::after {
      content: "";
      display: block;
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background-color: #000;
      box-shadow: 7px 0 #000, -7px 0 #000;
      animation: flash 0.5s ease-out infinite alternate;
    }
  }
}

button,
input[type="submit"] {
  @extend .btn;
}

@keyframes flash {
  0% {
    background-color: var(--color--fourth);
    box-shadow: 7px 0 var(--color--fourth), -7px 0 var(--color--second);
  }
  50% {
    background-color: var(--color--second);
    box-shadow: 7px 0 var(--color--fourth), -7px 0 var(--color--fourth);
  }
  100% {
    background-color: var(--color--fourth);
    box-shadow: 7px 0 var(--color--second), -7px 0 var(--color--fourth);
  }
}